.videos__featured-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.video__title {
  margin-bottom: 0.5rem;
}

.videos__featured-card-wrapper {
  display: flex;
  flex-direction: column;
}

.video__table-right-header {
  text-align: right;
}

.video__table-right-header a {
  color: #0f0e9f !important;
  font-weight: 400;
}

.videos__featured-card {
  height: calc(100vw - 86vw);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
}

#nav-toggle:checked + .videos__featured-card {
  height: calc(100vw - 70vw) !important;
}

.videos__featured-icon {
  padding: 1rem;
  background-color: #00ae4e;
  color: #fff;
  border-radius: 5px;
}
.videos__featured-icon:hover {
  cursor: pointer;
}

.videos__featured-card-title {
  font-size: 0.9rem;
  display: inline-block;
  padding: 0.5rem 0rem;
  font-weight: 900;
  color: #41496b;
}

.videos__featured-card-subtitle {
  font-size: 0.7rem;
  display: inline-block;
  color: #8390a2;
  font-weight: 600;
}

.videos__featured-card-one {
  background-image: url(./images/featured_video_one.jpg);
  background-size: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.videos__featured-card-two {
  background-image: url(./images/featured_video_two.jpg);
  background-size: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.videos__featured-card-three {
  background-image: url(./images/featured_video_three.jpg);
  background-size: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.videos__featured-card-four {
  background-image: url(./images/featured_video_four.jpg);
  background-size: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.videos__featured-subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: #41496b;
  margin-bottom: 3rem;
}

/* video table */

.video__details-container {
  display: flex;
}

.video__details-left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.video__details-right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.video__details-count {
  font-size: 0.9rem;
  font-weight: 900;
  color: #8390a2;
  margin-right: 1rem;
}

.video__details-cover-wrapper {
  height: 40px;
  width: 40px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.video__details-cover {
  width: auto;
  height: 40px;
  position: relative;
  left: -20px;
}

.video__details-title {
  font-size: 0.9rem;
  font-weight: 900;
  color: #41496b;
}

.video__details-date {
  font-size: 0.7rem;
  color: #8390a2;
  font-weight: 600;
}

.video__length {
  font-size: 0.7rem;
  color: #8390a2;
  font-weight: 800;
}

.video__details-uploader {
  font-size: 0.7rem;
  color: #8390a2;
  font-weight: 600;
  margin-right: 5px;
}
.video__table-right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.video__table-play-buttons-icon {
  display: inline-block;
  background-color: #fff;
  padding: 0.8rem;
  color: #00ae4e;
  border-radius: 5px;
  cursor: pointer;
  border: 0.1rem solid #00ae4e;
}

.video__length {
  margin-right: 1rem;
  color: #41496b !important;
}

.video__details-count {
  display: none;
}

@media only screen and (max-width: 960px) {
  .video__details-count {
    display: none;
  }
  .videos__featured-card {
    height: 12rem;
  }
  .videos__featured-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .video__details-title {
    font-size: 0.7rem;
    font-weight: 900;
    color: #41496b;
  }

  .video__details-uploader {
    font-size: 0.6rem;
  }

  .video__table-second-td {
    display: block !important;
  }

  .video__table-right-header {
    display: block !important;
  }
}

@media only screen and (max-width: 420px) {
  .videos__featured-card {
    height: 10rem;
  }
}

@media only screen and (max-width: 375px) {
  .videos__featured-card {
    height: 8rem;
  }
}

@media only screen and (max-width: 320px) {
  .videos__featured-card {
    height: 6rem;
  }
}
